:root {
  --primaryColor: #ff274b;
  --secondaryColor: #f7bcf7;
  --lightColor: #ffffff;
  --bgColor-1: #171a1c;
  --bgColor-2: #22282a;
  --padding: 8%;
}

ul {
  list-style: none;
}
footer #wholeFooter {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--bgColor-1);
  flex-wrap: wrap;
}
.newFooter {
  width: 30%;
  text-decoration: none;
}

footer #footer-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

a {
  color: var(--lightColor);
}

footer #wholeFooter ul li a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: var(--lightColor);
  scroll-behavior: smooth;
}

h1 {
  font-size: 4.65rem;
  margin: 1.7rem 0;
}

h2 {
  font-size: 2.2rem;
  letter-spacing: 0.12rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 3.5rem;
}

h4 {
  font-size: 1.25rem;
  letter-spacing: 0.12rem;
  color: var(--secondaryColor);
}

h5 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
  padding-right: 1px;
}

span {
  color: var(--primaryColor);
}

p {
  color: var(--secondaryColor);
  letter-spacing: 1px;
  line-height: 1.8rem;
  font-size: 1rem;
}

/*------------------------------------------------------------------------------
*------------------------- Home SECTION-----------------------------------------
-------------------------------------------------------------------------------*/

.home {
  width: 100%;
  height: 100vh;
  background-color: #171a1c;
  display: flex;
  flex-direction: column;
}

.home nav img {
  width: 250px;
}

nav {
  padding-top: 1rem;
  padding-left: var(--padding);
  padding-right: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

nav #main-links li {
  list-style-type: none;
  display: inline-block;
  margin: 0.8rem 1.5rem;
  font-size: 17px;
}

nav #main-links li a {
  color: var(--lightColor);
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.4s;
}

nav #main-links li a:hover {
  color: var(--primaryColor);
}

.btn {
  background-color: var(--primaryColor);
  color: var(--lightColor);
  text-decoration: none;
  font-weight: bold;
  padding: 0.81rem 1.8rem;
  border-radius: 30px;
  transition: 0.4s;
  border: 2px solid transparent;
}

.btn:hover {
  background-color: transparent;
  border: 2px solid var(--primaryColor);
}

nav .mobile-links {
  background-color: var(--bgColor-2);
  padding: 5px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: absolute;
  top: 13px;
  left: -68px;
  display: none;
}

nav .mobile-button:hover .mobile-links {
  display: flex;
}

nav .mobile-button {
  display: none;
}

nav .mobile-links li {
  padding: 10px;
}

.content {
  flex-grow: 1;
  padding: 0 var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-text {
  position: relative;
  bottom: 70px;
}

.social {
  margin-top: 3.5rem;
}

.social a {
  text-decoration: none;
}

.social img {
  margin-right: 2rem;
  width: 2.5rem;
  transition: 0.4s;
}

.social img:hover {
  transform: scale(1.2);
}

.home .content-images {
  width: 40%;
  height: 100%;
  position: relative;
  align-self: flex-end;
}

.home .content-images img {
  position: absolute;
  bottom: 0;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}

.home .content-images:hover .shape {
  bottom: 40px;
}

.content-images:hover .pic {
  left: 45%;
}

/*-------------------------------------------------------------------------------
*------------------------- ABOUT SECTION-----------------------------------------
-------------------------------------------------------------------------------*/

.about {
  background-color: var(--bgColor-2);
  padding: 2rem var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about .content-images {
  width: 35%;
}

.about .content-images img {
  width: 90%;
  border-radius: 15px;
}

.about .content-text {
  width: 35%;
}

/*-------------------------------------------------------------------------------
*------------------------- EDUCATION SECTION-----------------------------------------
-------------------------------------------------------------------------------*/

.education {
  background-color: var(--bgColor-1);
  padding: 2rem var(--padding);
}

.text-center {
  text-align: center;
}

.box {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 300px;
  background-color: var(--bgColor-2);
  border-radius: 20px;
  padding: 1.3rem 2rem;
  text-align: center;
}

.card i {
  font-size: 3.12rem;
  text-align: center;
  color: var(--primaryColor);
  margin: 2rem;
}

/*-------------------------------------------------------------------------------
*------------------------- LANGUAGES SECTION-----------------------------------------
-------------------------------------------------------------------------------*/

.languages {
  background-color: var(--bgColor-2);
  padding: 2rem var(--padding);
}

.box-lang {
  display: flex;
  justify-content: space-around;
}

.card-lang {
  width: 300px;
  background-color: var(--bgColor-1);
  border-radius: 20px;
  padding: 1.3rem 2rem;
  text-align: center;
}

.card-lang i {
  font-size: 3.12rem;
  text-align: center;
  color: var(--primaryColor);
  margin: 2rem;
}

/*-------------------------------------------------------------------------------
*------------------------- TECH-SKILLS SECTION----------------------------------------
-------------------------------------------------------------------------------*/

.skills {
  background-color: var(--bgColor-2);
  padding: 2rem var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.skills .content-images {
  width: 35%;
}

.skills .content-images img {
  width: 98%;
}

.skills .content-skill {
  width: 50%;
}

.content-skills {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.skill {
  width: 100px;
  height: 100px;
  background-color: var(--lightColor);
  border-radius: 50%;
  margin: 0 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill img {
  width: 70%;
}

/*-------------------------------------------------------------------------------
*------------------------- SOFT-SKILLS SECTION-----------------------------------
-------------------------------------------------------------------------------*/

.soft-skills {
  background-color: var(--bgColor-1);
  padding: 2rem var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.soft-skills .content-images {
  width: 40%;
}

.soft-skills .content-images img {
  width: 90%;
}

.soft-skills .content-skill {
  width: 40%;
  margin-left: auto;
}

.soft-skills .content-skills {
  align-items: center;
  font-weight: bolder;
  font-size: 25px;
}

.soft-skills .content-skills li {
  list-style: none;
}

/*-------------------------------------------------------------------------------
*------------------------- FOOTER SECTION-----------------------------------------
-------------------------------------------------------------------------------*/

footer {
  padding: 2rem var(--padding);
  background-color: var(--bgColor-1);
}

footer .content-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

#menu {
  display: none;
  position: relative;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  /* user-select: none; */
}

/* #menu span{
display: block;
width: 33px;
height: 4px;
background-color: var(--lightColor);
border-radius: 6px;
transform-origin: 0 0;
transition: 0.4s;
margin-bottom: 5px;


} */

/*-------------------------------------------------------------------------------
*------------------------- MOBILE MEDIA QUERIES----------------------------------------
-------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {
  :root {
    --padding: 1.5rem;
  }

  html {
    font-size: 13px;
  }

  .home .content-images {
    display: none;
  }

  h1 {
    font-size: 2.4rem;
    text-align: center;
  }

  .newFooter {
    width: 90%;
  }
  h3 {
    margin-top: 15px;
  }

  nav {
    /* position: fixed; */
    padding-top: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 82px;
    background-color: var(--bgColor-1);
    border-bottom: 1px solid var(--bgColor-2);
    z-index: 10;
  }

  nav > a {
    display: none;
  }

  nav img {
    width: 50px;
  }

  .home nav img {
    width: 145px;
  }

  nav #main-links {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 50vh;
    background: var(--bgColor-2);
  }

  nav #main-links li {
    display: block;
    text-align: center;
    margin: 30px;
  }

  .mobile-links li a {
    text-decoration: none;
    color: white;
  }

  nav .mobile-button {
    display: block;
    position: relative;
  }

  .content-text {
    bottom: 0rm;
  }

  .social {
    margin-top: 70px;
  }

  h3 {
    margin-top: 70px;
  }

  #menu {
    display: block;
  }

  .about .content-images img {
    display: none;
  }

  .about .content-text {
    width: 100%;
  }

  .box {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .skills {
    display: block;
  }

  .skills .content-images .skill {
    display: none;
  }

  .skills .content-images img {
    display: none;
  }

  .skills .content-skills {
    width: 100%;

    align-items: center;
  }

  .skills .content-skill {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .skills .content-skill .content-skills {
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
  }

  .skill {
    width: 80px;
    height: 80px;
  }

  .soft-skills .content-images {
    display: none;
  }

  .soft-skills .content-skill {
    width: 100%;
    justify-content: center;
  }

  .soft-skills .content-skills li {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .soft-skills .content-skills {
    align-items: center;
    font-weight: bolder;
    font-size: 25px;
    justify-content: center;
  }

  .box-lang {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  footer .content-footer p {
    width: 100%;
  }
}

h2 {
  font-size: 25px;
}

/*-------------------------------------------------------------------------------
*------------------------- TABLET MEDIA QUERIES----------------------------------------
-------------------------------------------------------------------------------*/

@media screen and (min-width: 481px) and (max-width: 768px) {
  :root {
    --padding: 1.5rem;
  }

  html {
    font-size: 13px;
  }

  .home .content-images {
    display: block;
  }

  .mobile-links li a {
    text-decoration: none;
    color: white;
  }
  .home .content-images img {
    position: absolute;
    width: auto;
    margin-bottom: 160px;
    bottom: 0;
    height: 50%;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
    width: 100%;
  }
  .newFooter {
    width: 40%;
  }

  h1 {
    font-size: 2.4rem;
    text-align: center;
  }

  h3 {
    margin-top: 15px;
  }

  nav {
    /* position: fixed; */
    padding-top: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 82px;
    background-color: var(--bgColor-1);
    border-bottom: 1px solid var(--bgColor-2);
    z-index: 10;
  }

  #main-links {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 50vh;
    background: var(--bgColor-2);
  }

  nav #main-links li {
    display: block;
    text-align: center;
    margin: 30px;
  }

  nav .mobile-button {
    display: block;
    position: relative;
  }

  .content-text {
    bottom: 0rm;
  }

  nav > a {
    display: none;
  }

  nav img {
    width: 100px;
  }

  .home nav img {
    width: 145px;
  }

  nav #main-links {
    display: none;
    position: fixed;
    top: 0;

    left: 0;
    width: 50vw;
    height: 50vh;
    background: var(--bgColor-2);
  }

  nav #main-links li {
    display: block;
    text-align: center;
    margin: 30px;
  }

  .content-text {
    margin-top: auto;
  }

  .social {
    margin-top: 70px;
  }

  h3 {
    margin-top: 70px;
  }

  #menu {
    display: block;
  }

  .about .content-images {
    display: none;
  }

  .about .content-text {
    width: 100%;
  }

  .box {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .skills .content-images {
    display: none;
  }

  .skills .content-skills {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .skills .content-skill {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .skills .content-skill .content-skills {
    display: flex;
    margin-top: 2rem;
    flex-direction: row;
    justify-content: center;
  }

  .skill {
    width: 80px;
    height: 80px;
  }

  .soft-skills .content-skills {
    justify-content: center;
  }

  .soft-skills .content-images {
    display: none;
  }

  .soft-skills .content-skill {
    width: 100%;
  }

  .soft-skills .content-skills li {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .soft-skills .content-skills {
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 25px;
  }

  .box-lang {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  footer .content-footer p {
    width: 100%;
  }
}
